.HomeContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 10px;
    background-color: #f3f4f6; /* Gris claro */
    border-radius: 8px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.HomeContainer h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #111827;
}

.textohome{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    color: #4b5563;
}

.imagen1{
    object-fit: cover;
    margin-left: 20px;
}


.apartadoenlaces{
    text-align: center;
}